
<h1>Cocktail</h1>

<%= @cocktail.name %>

<% @cocktail.doses.each do |dose| %>
<%=  dose.description %>
<%= link_to "Delete", dose_path(dose), method: :delete %>
<% end %>

<%= link_to "+Add dose", new_cocktail_dose_path(@cocktail)  %>

<%= link_to "back to cocktails", cocktails_path  %>
